<section id="networks">
  <div class="container">
    <p>
      <a href="#"><i class="facebook fa fa-facebook"></i></a><a href="#"><i class="twitter fa fa-twitter"></i></a><a href="#"><i class="mail fa fa-envelope"></i><i class="info fa fa-info-circle"></i></a>
    </p>
  </div>
  <div class="row">
    <div class="col-md-12">
  <img class="footer-img" src="http://aclp3.c3cdn.com/wp/wp-content/themes/acl2013/img/desk-footer__bg.png" alt="" data-class="footer-stack--truck-trailer">
</div>
</div>
</section>
