<section id="networks">
  <div class="container">
    <p>
      <a href="#"><i class="facebook fa fa-facebook"></i></a><a href="#"><i class="twitter fa fa-twitter"></i></a><a href="#"><i class="mail fa fa-envelope"></i><i class="info fa fa-info-circle"></i></a>
    </p>
  </div>
</section>
