<div class="bottom">
  <div class="left"></div>
  <div class="right"></div>
</div>

<div style="clear:both;"></div>

<footer>
  <div class="footer-elements">
    <div class="element1">what</div>
    <div class="element2">what</div>
    <div class="element1">what</div>
  </div>
</footer>
<div style="clear:both;"></div>
