<div class="navbar transparent navbar-static-top">
  <nav class="navbar-inner">
    <div class="navbar-header">
      <a class-"navbar-brand" href="/">Wook Book</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <% if current_user.nil? %>
      <li><a href="/auth/facebook">Login with <i class="fa fa-facebook-square"></i></a></li>
      <li class="active"><a href="#" data-toggle="modal" data-target="#likes-modal" id="likes"><i class="fa fa-heart fa-sm"></i>Likes</a></li>
        <%= render "shared/like_modal" %>
      </li>
      <% else %>
      <li class="active"><a href="#" data-toggle="modal" data-target="#likes-modal" id="likes"><i class="fa fa-heart fa-sm"></i>Likes</a></li>
        <%= render "shared/like_modal" %>
      </li>
      <li><%= link_to "Log Out", logout_path, method: "DELETE" %></li>
      <% end %>
      </li>
    </ul>
  </nav>
</div>
