<div class="top"></div>

<div class="banner">
  <%= image_tag "banner-no.png" %>
</div>

<div class="main">
<div class="search-button"><a href="/events"><%= image_tag "browse-button.png" %></a></div>
</div>

<div class="bottom">
  <div class="left"></div>
  <div class="right"></div>
</div>

<div style="clear:both;"></div>

<footer>
  <div class="footer-elements">
    <div class="element1"><h4>Featured Festivals</h4></div>
    <div class="element2 social-element">
          <p>
            <!-- <a href="#"><i class="facebook fa fa-facebook"></i></a><a href="#"><i class="twitter fa fa-twitter"></i></a><a href="#"><i class="mail fa fa-envelope"></i><i class="info fa fa-info-circle"></i></a> -->
          </p>
    </div>
    <div class="element1"><h4>Featured Line Ups</h4></div>
  </div>
</footer>
<div style="clear:both;"></div>

<div class="row featured">
  <div class="well col-md-2 col-md-offset-1 clearfix first-well">
    <a href="http://www.summercampfestival.com/"><img class="img-circle" src="http://loudwhispermedia.com/wp-content/uploads/2014/10/SummerCampLogo1-240x240.png" %></a>
    </div>


  <div class="well col-md-2 clearfix second-well">
    <a href="http://www.aclfestival.com/"><img class="img-circle" src="http://asleepatthewheel.com/wp-content/uploads/2013/01/530668_10151104519098030_1327768427_n.jpg"/></a>
    </div>


  <div class="well col-md-2 clearfix third-well">
    <a href="http://www.arisefestival.com/2015/"><img class="img-circle" src="http://ecowatch.com/wp-content/uploads/2014/07/arisefestfi.jpg" %></a>
    </div>

  <div class="row clearfix">
  <div class="well col-md-2 clearfix third-well">
    <a href="http://sasquatchfestival.com/"><img class="img-circle" src="http://www.takeashot.lv/wp-content/uploads/2014/11/sasquatch-2010-music-festival-poster-471x454.jpg" %>
      <!-- <span class="quote"><i class="fa fa-heart"></i></span></a> -->
  </div>
<div id="row footer">
  <div class="col-md-12">
  <%= render 'shared/footer' %>
</div>
</div>
