<div class="logo"><%= image_tag "logo2.png" %></div>
<div class="row home-search-bar">
  <div class="col-md-2 col-md-offset-5"
    <form id="search-form" class="form-inline" role="form" method="post" action="/" target="_blank">
      <div class="input-group">
        <input type="text" class="form-control search-form" placeholder="Search By State">
          <span class="input-group-btn">
            <button type="submit" class="btn btn-primary search-btn" data-target="#search-form" name="q"><i class="fa fa-search"></i></button>
          </span>
        </div>
      </form>
    </div>
  </div>

<div class="row">
  <div class="well col-md-3 col-md-offset-2 first-well">
  </div>
  <div class="well col-md-2 second-well">
  </div>
  <div class="well col-md-4 col-md-offset-1 third-well">
  </div>
</div>
