
<div class="side-bar">
  <%= render "shared/side_bar" %>
</div>
<div class="mock-map col-md-6 col-md-offset-1">
  <h1>Your Filtered Results</h1>
  <iframe width="800" height="500" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/search?q=Music%20Venue%20Denver&key=AIzaSyCd-SnBa7U9_XpirvZCLYFsR2W38wSMoTo"></iframe>
</div>

<!-- <div class="row">
  <div class="col-md-2 home-search-bar">
  <form id="search-form" class="form-inline search-bar" role="form" method="post" action="/" target="_blank">
   <div class="input-group">
     <input type="text" class="form-control search-form" placeholder="Search By State">
       <span class="input-group-btn">
         <button type="submit" class="btn btn-primary search-btn" data-target="#search-form" name="q"><i class="fa fa-search"></i></button>
       </span>
     </div>
   </form>
 <form id="search-form" class="form-inline search-bar" role="form" method="post" action="/" target="_blank">
  <div class="input-group">
    <input type="text" class="form-control search-form" placeholder="Search By Date">
      <span class="input-group-btn">
        <button type="submit" class="btn btn-primary search-btn" data-target="#search-form" name="q"><i class="fa fa-search"></i></button>
      </span>
    </div>
  </form>
<form id="search-form" class="form-inline search-bar" role="form" method="post" action="/" target="_blank">
 <div class="input-group">
   <input type="text" class="form-control search-form" placeholder="Search By Artist">
     <span class="input-group-btn">
       <button type="submit" class="btn btn-primary search-btn" data-target="#search-form" name="q"><i class="fa fa-search"></i></button>
     </span>
   </div>
 </form>
</div> -->
