<div class="container search-tabs">
  <div class="row">
    <div class="col-md-4">
      <div class="side-bar">
        <%= render "shared/side_bar" %>
      </div>
    </div>
    <div class="col-md-offset-4">
      <div id='map-two' class='map'> </div>
      <script>
        L.mapbox.accessToken = 'pk.eyJ1IjoibHlkaWFzMzAzIiwiYSI6ImM0WG9rY28ifQ.bM1Nx1fsDmbAFLVP1f9Img';
        var map =  L.mapbox.map('map-two', 'lydias303.af0ad4a4', {scrollWheelZoom: false}).setView([38.8833, -77.0167], 14);
        var myLayer = L.mapbox.featureLayer().addTo(map);
        var geojson = [
        {
        "type": "FeatureCollection",
        "features": [ <% @events.each do |ev| %>
          {
            "type": "Feature",
            "geometry": {
              "type": "Point",
              "coordinates": [
                <%= ev.lng %>,
                <%= ev.lat %>
              ]
            },
            "properties": {}
          },
            <% end %>]
          }
        ];
myLayer.setGeoJSON(geojson);
      </script>
    </div>
  </div>
</div>
</div>
