@font-face {
    font-family: 'ostrich';
    src: font-url('fonts/fonts/ostrich-regular-webfont.eot');
    src: font-url('fonts/ostrich-regular-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('fonts/ostrich-regular-webfont.woff2') format('woff2'),
         font-url('fonts/ostrich-regular-webfont.woff') format('woff'),
         font-url('fonts/ostrich-regular-webfont.ttf') format('truetype'),
         font-url('fonts/ostrich-regular-webfont.svg#ostrich_sansmedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
  font-family: 'ostrich';
    src: font-url('fonts/ostrich-bold-webfont.eot');
    src: font-url('fonts/ostrich-bold-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('fonts/ostrich-bold-webfont.woff2') format('woff2'),
         font-url('fonts/ostrich-bold-webfont.woff') format('woff'),
         font-url('fonts/ostrich-bold-webfont.ttf') format('truetype'),
         font-url('fonts/ostrich-bold-webfont.svg#ostrich_sansbold') format('svg');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'ostrich';
    src: font-url('fonts/ostrich-light-webfont.eot');
    src: font-url('fonts/ostrich-light-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('fonts/ostrich-light-webfont.woff2') format('woff2'),
         font-url('fonts/ostrich-light-webfont.woff') format('woff'),
         font-url('fonts/ostrich-light-webfont.ttf') format('truetype'),
         font-url('fonts/ostrich-light-webfont.svg#ostrich_sanscondensed_light') format('svg');
    font-weight: light;
    font-style: normal;

}

@font-face {
    font-family: 'ostrich_sansblack';
    src: font-url('fonts/ostrich-black-webfont.eot');
    src: font-url('fonts/ostrich-black-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('fonts/ostrich-black-webfont.woff2') format('woff2'),
         font-url('fonts/ostrich-black-webfont.woff') format('woff'),
         font-url('fonts/ostrich-black-webfont.ttf') format('truetype'),
         font-url('fonts/ostrich-black-webfont.svg#ostrich_sansblack') format('svg');
    font-weight: normal;
    font-style: normal;

}

h1 {
  font-weight: bold;
}
// /* =========================
//
//      nav bar
//
//    =========================*/

.navbar-inner {
  margin-left: 50px;
  margin-right: 40px;
}

div.navbar-header {
  margin-top: 10px;
  font-size: 28px;
}

body > div.navbar.transparent.navbar-static-top > nav > div > a{
  text-decoration: none;

}

body > div.navbar.transparent.navbar-static-top > nav > div > a:hover {

}

a {
  color: white;
  text-decoration: none;
}

.nav-likes {
  margin-top: -3px;
}

a.zocial.facebook {
  font-size: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

// /* =========================
//
//      home page
//
//    =========================*/

.logo {
  margin-top: 110px;
  text-align: center;
}

.first-well {
  box-shadow: none;
  background: transparent;
  border: none;
  margin-top: 40px;
  margin-right: 5px;
  // margin-bottom: 10px;
  margin-left: 190px;
  padding-bottom: 78px;
  font-size: 32px;
  font-weight: bold;
  padding-right: 50px;
 }

.second-well {
 box-shadow: none;
 background: transparent;
 border: none;
 margin-top: 40px;
 margin-right: 5px;
 // margin-bottom: 10px;
 margin-left: 10px;
 // padding-bottom: 150px;
 padding-right: 50px;
 font-size: 32px;
 font-weight: bold;
}

.third-well {
 box-shadow: none;
 background: transparent;
 border: none;
 margin-top: 40px;
 margin-bottom: 10px;
 margin-left: 15px;
 padding-bottom: 30px;
 font-size: 32px;
 font-weight: bold;
 padding-right: 70px;
}

.like-heart :hover {
  color: #bfa24b;
}

.fifth-img {
  margin-left: 60px;
}

.home-search-bar {
  text-align: center;
}

// /* =========================
//
//      home page search bar
//
//    =========================*/

.search-form {
    border-radius: 30px 0px 0px 30px;
    text-align: center;
}

.search-btn {
  margin-top: 20px;
    border-radius: 0px 30px 30px 0px;
    cursor: pointer;
    background: #bcd6d1;
}

.home-search-bar {
  margin-top: 90px;
  margin-left:  0;
  margin-bottom: 5px;
}

.search-bar {
 margin-bottom: 10px;
 margin-left: -20px;
}

// /* =========================
//
//      home page search bar
//
//    =========================*/

#networks {
  // width: 100%;
  // height: 100%;
  // margin-top: 50px;
  // margin-bottom: 0;
  text-align: center;
}

#networks i {
  font-size: 60px;
  color: black;
  padding: 18px;
}

#networks .facebook:hover {
  color: #7bd5b8;
}

#networks .twitter:hover {
  color:  #e2f29e;
}

#networks .mail:hover {
  color: rgba(245, 162, 94, 0.88);
}

#networks .info:hover {
  color: #bfa24b;
}

// /* =========================
//
//      event index
//
//    =========================*/

.event-index-well {
  background: rgba(109, 15, 128, 0.1);
}


h2 {
  font-size: 31px;
  font-weight: bold;
}

/* custom inclusion of right, left and below tabs */
//
.search-tabs {
  margin-top: 0px;
  margin-left: 20px;
  margin-bottom: 80px;
}

.basic {
 color: #7bd5b8;
}

.advanced {
  color: #bfa24b;
}


#map-two {
  position:absolute;
  top:0;
  bottom:0;
  width: 60%;
  height:100%;
  margin: 0;
  margin-top: 100px;
  margin-right: 100px;
  margin-left: 50px;
  margin-bottom: 200px;
  padding: 0;
}

.img-circle {
    height:180px;
    width:180px;
    overflow:hidden;
    border-radius:50%;

color: #fff;
}

html {
  margin: 0;
  padding: 0;
}

body div.home-page-background {
    background: image-url('stars-background.jpg') no-repeat center center;
    background-size: cover;
    background-position: 0px;

}

body {
  background: image-url('gradient.jpg') no-repeat center center;
  background-size: cover;
  background-position: 0px;
  font-family: 'ostrich';
  color: #fff;
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 20px;
}

header {
  background: #4daeb9;
  color: #000;
  text-align: center;
  height: 45px;
  margin-top: -16px;
  padding-top: 10px;
}

header ul {
  list-style: none;
}

header li {
  text-transform: uppercase;
  font-weight: bold;
  display: inline;
  padding: 50px;
}

.top {
  width: 80%;
  height: 80px;
  margin: 20px auto 0 auto;
  background: image-url("flagpole-top.png");
  background-repeat: no-repeat;
  background-position: top left;
}

.banner {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.main {
  width: 80%;
  margin: -22px auto 0 auto;
  text-align: center;
  background: image-url("flagpole-mid.png");
  background-repeat: repeat-y;
  background-position: top left;
  height: 200px;
}

.bottom {
  width: 78.9%;
  margin: -17px auto;
}

.bottom .left {
  float: left;
  width: 200px;
  height: 200px;
  background: image-url("sasquatch.png");
  background-repeat: no-repeat;
  background-position: bottom left;
}

.bottom .right {
  float: right;
  width: 200px;
  height: 200px;
  background: image-url("ship.png");
  background-repeat: no-repeat;
  background-position: bottom right;
}

footer {
  height: 59px;
  background: #4daeb9;
  border-bottom: 20px solid #f16729;
}

.footer-elements {
  width: 80%;
  margin: 0 auto;
}

.element1 {
  float: left;
  width: 33%;
  margin: 0px auto;
  padding: 20px 0;
  text-align: center;
}

.element2 {
  float: left;
  width: 33%;
  margin: 0px auto;
  padding: 20px 0;
  text-align: center;
  background: #2e8a94;
  border-radius: 2px;
}

.footer-img {
  width:100%;
  margin-bottom: 0;
  margin-top: 100px;
}


.social-element i {
  font-size: 34px;
  color: white;
  margin-left: 8px;
  margin-right: 8px;
}

.footer-elements .facebook:hover {
  color: #a5b217;
}

.footer-elements .twitter:hover {
  color:  #f5878c;
}

.footer-elements .mail:hover {
  color: rgba(83, 10, 73, 0.89);
}

.footer-elements .info:hover {
  color: #db6d12;
}


.search-button{
  margin-top: 22px;
}

.show-search {
  padding-top: 90px
}

// /* =========================
//
//      likes modal
//
//    =========================*/

#likes-modal {
  background: #df8524;
}

.likes-modal {
  background: #45123f;
}



// /* =========================
//
//      event show
//
//    =========================*/

.event-show {
  background: #d55e0f;
  font-size: 30px;
  font-weight: bold;
}
